/* Variables */

:root {
    --primary-color: #fff;
    --secondary-color: rgb(121, 162, 243);
    --accent-color: rgb(243, 182, 69);
    --background-color: rgb(236, 236, 236);
    --font-color: black;
}

/* Resets */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
} 

li {
    list-style: none;
}

body {
    background-color: var(--background-color);
}

/* Icons/Imgs */

.interfaceIcons {
    width: 20px;
    height: auto;
    fill: var(--primary-color);
    padding-right: 30px;
}

.interfaceIconDashboard {
    width: 60px;
    height: auto;
    fill: var(--primary-color);
}

.profileIcons {
    width: 40px;
    align-self: center;
}

.projectIcons {
    width: 20px;
}

.projectSVGs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 5px;
}

.leftNav {
    color: var(--primary-color);
}

.topSearch, .userInfo, .loggedinUser, .topnav {
    background-color: var(--primary-color);
}

.loggedinUser, .topnav {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.userInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 40px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.userName, .intro, .currentUser {
    font-weight: 600;
}

.topnav {
    align-self: center;
}

.bell {
    fill: var(--font-color);
    width: 20px;
}

.userImg {
    width: 40px;
}

/* Grids */

.adminPanel {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 50px 80px 1fr 0.25fr 0.75fr 1fr;
    grid-template-areas:
    "dashboard search userinfo"
    "dashboard currentuser topnav"
    "dashboard projectsOne announcements"
    "dashboard projectsTwo announcements"
    "dashboard projectsTwo trending"
    "dashboard projectsThree trending";
    width: 100vw;
    height: 100vh;
}

/* Flexbox */

.topSearch {
    display: flex;
    flex-direction: row;
    height: 35px;
    padding-top: 15px;
}

.leftNav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--secondary-color);
    width: 250px;
    height: 100vh;
    padding-top: 20px;
    grid-area: dashboard;
}

.navLinks {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin-left: 50px;
    margin-top: 50px;
    font-weight: 550;
}

.dashboardTitle {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
}

.topnav ol {
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.topnav li {
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 5px 8px;
}

.search {
    width: 400px;
    height: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--background-color);
}

.searchIcon {
    padding-left: 10px;
    width: 25px;
    fill: var(--font-color);
}

.loggedinUser {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "img intro"
    "img user";
    gap: 20px;
    align-items: center;
    height: 75px;
    padding-top: 5px;
    padding-left: 20px;
}

.userimg {
    grid-area: img;
    align-self: center;
    height: 40px;
    width: 40px;
}

.intro {
    align-self: center;
    grid-area: intro;
}

.currentUser {
    align-self: center;
    grid-area: user;
    padding-bottom: 5px;
}

/* Grid Areas */

.topSearch {
    grid-area: search;
}

.userInfo {
    grid-area: userinfo;
}

.loggedinUser {
    grid-area: currentuser;
}

.title {
    align-self: center;
    font-size: 25px;
}

.topnav {
    grid-area: topnav;
}

.projectsOne {
    grid-area: projectsOne;
    
}

.projectsTwo {
    grid-area: projectsTwo;
    
}

.projectsThree {
    grid-area: projectsThree;
    
}

.announcements {
    grid-area: announcements;
    margin-top: 20px;
}

.trending {
    grid-area: trending;
    margin-top: 80px;
}

.projectOne, .projectTwo, .projectThree, .projectFour, .projectFive, .projectSix {
    border-right: 1px solid var(--background-color);
    border-top: 1px solid var(--background-color);
    border-bottom: 1px solid var(--background-color);
    border-left: 5px solid var(--accent-color);
    border-radius: 10px;
    width: 250px;
    height: 125px;
    background-color: var(--primary-color);
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.projectTitle {
    font-weight: 600;
    font-size: 14px;
}

.announcementTitle {
    font-weight: 550;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 5px;
}

.trendingTitle {
    font-weight: 600px;
    font-size: 14px;
}

.trending {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
    padding-bottom: 5px;
}

.announcementText {
    font-size: 10px;
    margin-top: 5px;
    padding-left: 5px;
}

.trendingText {
    font-size: 10px;
}

.projectText {
    font-size: 10px;
    margin-top: 10px;
}

.announcements, .trending {
    border-right: 1px solid var(--background-color);
    border-top: 1px solid var(--background-color);
    border-bottom: 1px solid var(--background-color);
    border-radius: 10px;
    width: 210px;
    height: 250px;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-self: start;
    justify-self: start;
    margin-left: 30px;
}

.projectsOne {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 30px;
    margin-top: 20px;
}

.projectsTwo {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    padding-left: 30px;
    margin-top: 20px;
}

.projectsThree {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 30px;
    margin-top: 20px;
}

.trendingOne, .trendingTwo, .trendingThree, .trendingFour {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 5px;
}