/* Resets */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
} 

li {
    list-style: none;
}

/* Variables */

:root {
    --primary-color: #fff;
    --secondary-color: rgb(121, 162, 243);
    --accent-color: rgb(243, 182, 69);
    --background-color: silver;
    --font-color: black;
}

/* Icons/Imgs */

.interfaceIcons {
    width: 20px;
    height: auto;
    fill: var(--primary-color);
    padding-right: 20px;
}

.interfaceIconDashboard {
    width: 80px;
    height: auto;
    fill: var(--primary-color);
    
}

.profileIcons {
    width: 60px;
}

/* Grids */

.adminPanel {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "dashboard search userinfo"
    "dashboard currentuser topnav"
    "dashboard projectsOne announcements"
    "dashboard projectsTwo announcements"
    "dashboard projectsThree trending";
}

.projects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "projectsOne"
    "projectsTwo"
    "projectsThree";
}

/* Flexbox */

.leftNav {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: var(--secondary-color);
    width: 300px;
    height: 100vh;
    padding-top: 50px;
}

.navLinks {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    justify-items: center;
    margin-left: 50px;
    margin-top: 50px;
    font-weight: 550;
}

.dashboardTitle {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
    grid-area: dashboard;
}

.topNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75vw;
    height: 25vh;
    gap: 20px;
    background-color: var(--background-color);
    padding-top: 20px;
}

.topnav ol {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.topnav li {
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 5px 8px;
}

.search {
    width: 400px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--primary-color);
}

.searchIcon {
    padding-left: 10px;
    width: 25px;
}

.loggedinUser {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro {
    align-self: flex-start;
}

.currentUser {
    align-self: center;
}

/* Grid Areas */

.topSearch {
    grid-area: search;
}

.userInfo {
    grid-area: userInfo;
}

.loggedinUser {
    grid-area: currentUser;
}

.title {
    align-self: center;
}

.topnav {
    grid-area: topnav;
}

.projectsOne {
    grid-area: projectsOne;
}

.projectsTwo {
    grid-area: projectsTwo;
}

.projectsThree {
    grid-area: projectsThree;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

.projectsOne, .projectsTwo, .projectsThree {
    border: 1px solid var(--background-color);
    border-radius: 10px;
    width: 250px;
    height: auto;
}